.fcl {
  display: flex;
  height: 100vh;
  flex-direction: row;
  width: 100%;

}

.fcl__master {
  flex: 1;
}

.fcl__detail {
  flex: 0 0 30%;
}

.split-view-closed {
  visibility: hidden;
}

.splitter {
  flex: 0 0 0;
  height: auto;
  min-width: 1rem;
  background-color: var(--app-bg);
  box-shadow: inset .0625rem 0 0 0 #2e3742, inset -.0625rem 0 0 0 #2e3742;
}
