.text--secondary {
  color: var(--text-secondary);
  font-size: 0.875rem;
  font-weight: normal;
  white-space: nowrap;
  cursor: text;
}

.text--primary {
  color: var(--text-primary);
  font-size: 0.875rem;
  font-weight: normal;
  white-space: nowrap;
  cursor: text;
}
