.dynamic-page {
  display: flex;
  height: 100%;
  flex-direction: column;
  border: transparent;
  container-type: inline-size;
}

.dynamic-page__content {
  height: 100%;
  padding: 1rem 1rem 0 1rem;
  background-color: var(--app-bg);
  overflow: scroll;
  overscroll-behavior: none;

}

