.dynamic-page {
  display: flex;
  flex-direction: column;
  border: transparent;
  overflow: hidden;
  container-type: inline-size;
}

.dynamic-page__content {
  padding: 1rem 1rem 0 1rem;
  background-color: var(--app-background);
}

@container (min-width: 600px) {
  .dynamic-page__content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@container (min-width: 1024px) {
  .dynamic-page__content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@container (min-width: 1440px) {
  .dynamic-page__content {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
