.icon-tab-header {
  display: flex;
  flex-direction: column;
  container-type: inline-size;
}

.icon-tab-header__nav-bar {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  box-shadow: var(--header-shadow);
  background-color: var(--container-bg);
}

.icon-tab-header__content {
  padding: 1rem;
}

.icon-tab-header__tab {
  width: fit-content;
  font-weight: 700;
  padding: 1rem 0.25rem;
  color: var(--tab-text);
  position: relative;
}

.icon-tab-header__tab--selected {
  color: var(--tab-text-selected);
}

.icon-tab-header__tab:hover {
  cursor: pointer;
  color: var(--tab-text-selected);
}

.icon-tab-header__tab--selected::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: var(--tab-text-selected);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}


@container (min-width: 0px) {
  .icon-tab-header__nav-bar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@container (min-width: 600px) {
  .icon-tab-header__nav-bar {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@container (min-width: 1440px) {
  .icon-tab-header__nav-bar {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
