
/* Black */
@font-face {
  font-family: 'SAP72';
  src: url('../../assets/fonts/72-Black-full.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'SAP72';
  src: url('../../assets/fonts/72-Bold-full.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: 'SAP72';
  src: url('../../assets/fonts/72-BoldItalic-full.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: 'SAP72';
  src: url('../../assets/fonts/72-Regular-full.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: 'SAP72';
  src: url('../../assets/fonts/72-Italic-full.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Semibold */
@font-face {
  font-family: 'SAP72';
  src: url('../../assets/fonts/72-Semibold-full.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SAP-Icons";
  src: url("../../assets/fonts/SAP-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root{
  --font-en: "SAP72", sans-serif;

  --app-bg: #12171c;

  /* Text */
  --text-primary: #fff;
  --text-secondary: #8396a8;

  /* Container */
  --container-bg: #1d232a;

  /* List */
  --list-bg: #1d232a;
  --list-bg-selected: #1d2d3e;
  --list-border-selected: #4db1ff;
  --list-bg-hover: #222b35;
  --list-border: #2e3742;
  --list-header-border: #758ea5;
  --icon: #a9b4be;

  /* Avatar */
  --avatar-bg: #0054cc;
  --avatar-text: #a6e0ff;

  /* Button */
  --button-primary-bg: #0070f2;
  --button-primary-bg-hover: #0064D9;
  --button-primary-text: #fff;
  --button-secondary-border: #3A4A5A;
  --button-secondary-bg: #1C242C;
  --button-secondary-text: #4DB1FF;
  --button-tertiary-border: transparent;
  --button-tertiary-bg: transparent;
  --button-tertiary-text: #4DB1FF;
  --button-tertiary-bg-hover: #222B35;
  --button-bg-active: #213131;
  --button-border-active: #4DB1FF;
  --button-text-active: #4DB1FF;

  /* Tab Bar */
  --tab-text: #fff;
  --tab-text-selected: #4db1ff;
  --tab-border-selected: #4db1ff;

  /* Input */
  --input-border-focus: #4db1ff;

  /* Misc */
  --scrollbar-thumb: #647891;
  --header-shadow: 0 .125rem .125rem 0 rgba(0, 0, 0, 0.2), inset 0 -0.0625rem 0 0 #2e3742;
}

.icon--nav::before {
  content: "\e066"; 
  font-family: "SAP-Icons";
  display: inline-block;
}

.icon--search::before {
  content: "\e00d"; 
  font-family: "SAP-Icons";
  display: inline-block;
}

.icon--sound-loud::before {
  content: "\e228"; 
  font-family: "SAP-Icons";
  display: inline-block;
}

.icon--decline::before {
  content: "\e03e"; 
  font-family: "SAP-Icons";
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

@container (min-width: 0px) {
  .responsive-padding {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

@container (min-width: 600px) {
  .responsive-padding {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

@container (min-width: 1440px) {
  .responsive-padding {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}

