.dynamic-page-header__heading {
  font-size: 1.5rem;
  font-weight: 900;
}

.dynamic-page-header__heading-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.dynamic-page-header {
  display: flex;
  flex-direction: column;
  background-color: var(--container-bg);
  padding: 1rem;
  gap: 1rem;
  box-shadow: var(--header-shadow);
}

.dynamic-page-header__title-container {
  display: flex;
  flex-direction: row;
  background-color: var(--container-bg);
  gap: 1rem;
}

.dynamic-page-header__header-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.no-border {
  box-shadow: none !important;
}

@container (min-width: 0px) {
  .dynamic-page-header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@container (min-width: 600px) {
  .dynamic-page-header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@container (min-width: 1440px) {
  .dynamic-page-header {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

