.avatar {
  background-color: var(--avatar-bg);
  color: var(--avatar-text);
  border-radius: 0.75rem;
  display: flex;
  flex: 0 0 0;
  /* padding: 0.9375rem; */
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  min-width: 5rem;
  font-size: 2.5rem;
  font-weight: 700;
}


.avatar--S {
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  font-size: 1.5rem;
}

.avatar--M {
  height: 4rem;
  width: 4rem;
  min-width: 4rem;
  font-size: 2rem;
}

.avatar--transparent{
  background-color: transparent;
  color: var(--text-primary);
}
