
html {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--app-background);
  color: var(--textColor);
  font-family: var(--font-en);
  font-size: 0.875rem;

  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-thumbColor) transparent;
}

.icon--nav::before {
  content: "\e066"; 
  font-family: "SAP-Icons";
  display: inline-block;
}

.icon--search::before {
  content: "\e00d"; 
  font-family: "SAP-Icons";
  display: inline-block;
}

.icon--sound-loud::before {
  content: "\e228"; 
  font-family: "SAP-Icons";
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}



input, textarea {
  font: inherit;
  border: none;
  color: var(--textColor);
}

textarea:focus,
input:focus {
  outline: none;
  box-shadow: none;
}

button:hover {
  cursor: pointer;
}

.label {
  color: var(--labelColor);
  font-size: 0.875rem;
}


.no-padding {
  padding: 0 !important;
}

@container (min-width: 0px) {
  .responsive-padding {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

@container (min-width: 600px) {
  .responsive-padding {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

@container (min-width: 1440px) {
  .responsive-padding {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}
