*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background: var(--app-bg);
  color: var(--text-primary);
  font-family: var(--font-en);
  font-size: 0.875rem;
  height: 100%;
  margin: 0;
  padding: 0;
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-thumb) transparent;
  width: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

input,
textarea {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

textarea:focus,
input:focus {
  box-shadow: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}
