
html {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--app-background);
  color: var(--textColor);
  font-family: var(--font-en);
  font-size: 0.875rem;

  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-thumbColor) transparent;
}

body * {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

input, textarea {
  font: inherit;
  border: none;
  color: var(--textColor);
}

textarea:focus,
input:focus {
  outline: none;
  box-shadow: none;
}

button:hover {
  cursor: pointer;
}
