



.button--emphasized {
  font-family: inherit;
  font-weight: 700;
  height: auto;
  padding: 0.3125rem 0.5rem 0.3125rem 0.5rem;
  border: none;
  color: var(--button-emphasized-textColor);
  background-color: var(--button-emphasized-backgroundColor);
  border-radius: 0.5rem;
}

.button--emphasized:hover {
  background-color: var(--button-emphasized-backgroundColor--hover);
}
