.fcl {
  display: flex;
  height: 100%;
  flex-direction: row;
  width: 100%;
}

.fcl__master {
  width: 100%;
}

.fcl__detail {
  width: 75%;
}

.split-view-closed {
  visibility: hidden;
}

.splitter {
  height: 100%;
  min-width: 1rem;
  background-color: var(--app-background);
  box-shadow: inset .0625rem 0 0 0 #2e3742, inset -.0625rem 0 0 0 #2e3742;

}
