.object-page__content {
  padding-top: 0 !important;
}

.object-page__section {
  display: flex;
  padding-top: 1.5rem;
  flex-direction: column; 
}

.object-page__section-body {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  border: transparent;
  border-radius: 0.75rem;
  overflow: hidden;
  background-color: var(--container-background);
}

.object-page__section-toolbar{
  font-size: 1.25rem;
}
