
.table {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: var(--list-backgroundColor);
  border-radius: 0.75rem;
  padding-bottom: 0.5rem;
}

.table__table {
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
}

.table__toolbar {
  display: flex;
  box-sizing: border-box;
  height: 2.75rem;
  padding: 0 1rem;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid var(--list-headerBorderColor);
}

.table__row {
  width: 100%;
}

.table__row > :first-child {
  padding-left: 1rem;
}

.table__row--clickable:hover {
  background-color: var(--list-hover-backgroundColor);
  cursor: pointer;
}

.table__row--selected .table__cell {
  box-sizing: border-box;

  background-color: var(--list-selectionBackgroundColor);
  border-bottom: 1px solid var(--list-selectionBorderColor);
}

.table__header-cell {
  font-size: 0.875rem;
  line-height: 1.5rem;
  box-sizing: border-box;

  text-align: start;
  padding: 0.25rem 0.5rem;
  border-bottom: 2px solid var(--list-borderColor);
  font-weight: 600;
}

.table__header-cell--nav {
  width: 2rem;
}

.table__cell {
  width: auto;
  box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid var(--list-borderColor);
  overflow: clip;
}

.table__cell--icon {
  width: 2rem !important;
  text-align: center;
}

.table__icon {
  display: inline-block;
  font-style: normal;
  font-size: 0.75rem;
  height: 0.75rem;
  color: var(--icon-nonInteractiveColor);
}
