.input-field__input {
  width: 100%;
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;

}

.input-field {
  position: relative;
  border-radius: 0.25rem;
  height: 1.625rem;
  box-shadow: inset 0 0 0 1px #3b4249; /* top/sides */
  background-color: #161c22;
  overflow: hidden;
}

.input-field::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #a9b4be;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.input-field:focus-within {
  box-shadow: inset 0 0 0 2px var(--focusColor); /* top/sides */
}

.input-field:focus-within::after {
  display: none;
}

.search-field {
  width: 30% !important;
}

.search-field input::placeholder {
  font-style: italic;

}

.input-field__icon {
  position: absolute;
  height: min-content;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  height: 1rem;
}
